@import-normalize;

.title {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.statistics {
  margin-top: 35px;
  border-radius: 3px;
  overflow: hidden;
}

.statList {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: calc(100% / 5);
  height: 100%;
  color: white;
}

.label {
  font-size: 14px;
  margin-bottom: 10px;
}

.percentage {
  font-size: 20px;
}
